:root {
    --nav_bar_height: 50px;
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&amp;display=swap');

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

body {
    margin: 0;
    padding: 0;
    height: 90vh;
    overflow: scroll;
}

#navbar {
    position: sticky;
    position: top;
    display: flex;
    justify-content: space-between;
}

.section_container {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--nav_bar_height));
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
    z-index: -2;
}

.section {
    width: 100%;
    height: calc(100vh - var(--nav_bar_height));
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    scroll-snap-align: start;
    gap: 5%;
    color: #fff;
    background: linear-gradient(454deg, #130a04, #ee9559);
    position: relative;
}

.section img {
    width: 80%;
    height: 100%;
}

.section.s1 img {
    width: 70%;
    object-fit: cover;
    object-position: 50% 50%;
}

.section h2 {
    font-size: 20px;
    font-weight: 200;
    max-width: 30%;
}

.section h3 {
    font-size: 3vw;
    font-weight: 200;
    max-width: fit-content;
}
/* .section h3 {
    max-width: 200px;
} */

.s1 {
    background: linear-gradient(454deg, #cbf1ff, #367fff);
}

.s2 {
    background: linear-gradient(454deg, #367fff, #e2f8ff);
    /* padding-left: 2%; */
    overflow: auto;
    /* display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    flex-direction: row; */
}

.s2 img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
  
/* .s2 h3 {
    margin: 0 20px; 
    position: relative;
} */


.s4 {
    background: linear-gradient(454deg, #367fff, #e2f8ff);
    /* display: grid; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--nav_bar_height);
    background: #130a04;
    box-shadow: 0 5px 10px rgba(0red, 0 green, 0blue, 0.1);
}

nav .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 90%;
    background: #130a04;
    margin: auto;

}

nav .navbar .logo a {
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    nav .navbar .logo a {
        font-size: 17px;
    }

    .section h2 {
        font-size: 4vw;
        font-weight: 200;
        max-width: 30%;
    }
}

.navbar .menu {
    display: flex;
}

.navbar .menu li {
    list-style: none;
    margin: 0 15px;
}

.navbar .menu li a {
    color: white;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
}

/* Add Menu Button CSS */
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  #menu-toggle:checked + .menu li a{
    color:white;
  }

  

/* @media only screen and (max-width: 500px) {
     .navbar .menu li a {
        font-size: 14px;
    }
} */

@media (max-width: 700px) {
    .navbar .menu li{
        color: transparent;
    }
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      z-index: -1;
    /* position:relative; */
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle ~ .menu li a{
        color:transparent;
    }
    
    #menu-toggle:checked ~ .menu li a{
        color:white;
    }

    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      /* color: white; */
      /* color: transparent; */
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }

.content {
    top: 50%;
    left: 42%;
    transform: translateY(-50%);
}